html {
  scroll-behavior: smooth;
}

    body {
      overflow-x: hidden;
      font-family: century-supra-text;
      font-variant-numeric: oldstyle-nums;
      background-color: white;
      background: linear-gradient(to left, #e4f1ee 0%,#ffffff 35%,#ffffff 50%,#ffffff 65%,#e4f1ee 100%);
    }

    footer {
      background-color: #205058;
      text-align: center;
      color: white;
      padding:20px;
    }
    
    h1{
    font-size:60px;
	  letter-spacing:2px;
    text-align:center;
    color:white;
    font-weight: bold;
    position:relative;
    top:0%;
    text-shadow:0px 0px 10px 1px #082828;
    }
    
    h2{
    font-size:55px;
    text-align:center;
    color:white;
    text-shadow: 2px 2px 2px #618685;
    position:relative;
    top:100px;
   }
   
   a{
   color:white;
   text-decoration:none;
   font-size:20px;
   }
   
   a:hover:not(.active){
   color:white;
   text-shadow: 1px 1px 1px #618685;
   transition-duration:0.3s;
   text-decoration:underline;
   }
   
    ul{
		 width:100%;
     list-style-type: none;
     padding: 0px;
     overflow: hidden;
     background-color: #b8c8d0;
     text-shadow: 1px 1px 1px #618685;
     box-shadow: 0px 0px 10px 1px #082828;
     position:relative;
     z-index:1;
	   box-shadow:0px 0px 7px 1px #205058;
    }
    
    li {
     float: left;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover:not(.active) {
     background-color: #7098a0;
     transition-duration: 0.5s;
   }

   .active {
    background-color: #082828;
  }

   .section
   {
     position: relative;
     width: 100%;
     height: 100vh;    
   }

  .video-background
  {
    position: absolute;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index:-1;
  }
   
   .flex-container {
     display: flex;
     justify-content: center;
   }
   
   p{
    font-size:20px;
    line-height:1.6;
    text-align:center;
   }
   
   div{
   color:white;
   text-align:center;
   padding:40px;
   }
  
  
   img{
   height:300px;
   width:100%;
   border-radius:30px;
   }


.container {
  position: relative;
  width: 40%;
  transition:1s;
  margin:2%;
  border-radius:30px;
  box-shadow:0px 0px 10px black;
}

.container:hover{
  transform:scale(1.05,1.05);
}

.overlay-gradient{
  border-radius:30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #103840 22%, rgba(0,0,0,0) 71%);
}

.overlay {
  border-radius:30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 91%;
  width: 94%;
  opacity: 0;
  transition: .8s ease;
  background-color:#7098a0;
}

.container:hover .overlay {
  opacity: 1;
  text-decoration:underline;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered {
  position: absolute;
  top: 56%;
  bottom:56%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollbutton{
	height:40px;
  width:40px;
}