* {
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: century-supra-text;
  font-variant-numeric: oldstyle-nums;
  background: linear-gradient(to left, #e4f1ee 0%,#ffffff 35%,#ffffff 50%,#ffffff 65%,#e4f1ee 100%);
}

p{
  margin-top:20px;
  font-size:18.5px;
  line-height:1.6;
  text-align:justify;
 }

 h1{
  font-size:60px;
  letter-spacing:2px;
  }

  header {
	  display:flex;
    align-items: center;
    justify-content: center;
	  overflow: hidden;
    background-color: #205058;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1500644673162-815d63079d38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }

footer {
  background-color: #205058;
  text-align: center;
  color: white;
  padding:20px;
}


a{
  color:white;
   text-decoration:none;
   font-size:20px;
   }
   
   a:hover:not(.active){
   color:white;
   text-shadow: 1px 1px 1px #618685;
   transition-duration:0.3s;
   text-decoration:underline;
   }
   
  ul{
   width:100%;
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   background-color: #b8c8d0;
   text-shadow: 1px 1px 1px #618685;
   box-shadow: 0px 0px 10px 1px #082828;
   position:relative;
   position:sticky;
   top:0;
   z-index:1;
   box-shadow:0px 0px 7px 1px #205058;
    }
   
    li {
     float: left;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover:not(.active) {
     background-color: #7098a0;
     transition-duration: 0.5s;
   }
   
   .active {
     background-color: #082828;
   }


   

   input {
    margin-bottom: 20px;
    display: block;
  
  
  }
  #quiz {
  
    background: #d2def2;
      background-position: center;
      padding: 20px;
      background: rgb(96, 96,96 , 0.5);
  }
  
  
  #mc {
    display: inline;
  }