input[type="num"] {

    width: 120px;
    border-radius: 8px;
    border: solid 1px #BDBDBD;
    margin-bottom: 1em;
    margin-right: 3px;
    text-align: center;
}
input[type="number"] {

    width: 120px;
    border-radius: 8px;
    border: solid 1px #BDBDBD;
    margin-bottom: 1em;
    margin-right: 3px;
    text-align: center;
}
input.finalresult {
    background-color: #DEF973;
    font-weight: strong;
}


input {
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;

    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

body {
    background-image:url(https://images.unsplash.com/photo-1500644673162-815d63079d38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-position: top left, top left;
    font-size: 13pt;
    color: #444;
    font-weight: 300;
    line-height: 2.25em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: century-supra-text;
	  font-variant-numeric: oldstyle-nums;
}

h1{
  font-size:60px;
  letter-spacing:2px;
  }

header {
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #205058;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1500644673162-815d63079d38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

image{
    position: absolute;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index:-1;

}

h3{
  text-align:center;
  margin-top:10px;
}


a{
  color:white;
   text-decoration:none;
   font-size:20px;
   }
   
   a:hover:not(.active){
   color:white;
   text-shadow: 1px 1px 1px #618685;
   transition-duration:0.3s;
   text-decoration:underline;
   }
   
  ul{
   width:100%;
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   background-color: #b8c8d0;
   text-shadow: 1px 1px 1px #618685;
   box-shadow: 0px 0px 10px 1px #082828;
   position:relative;
   position:sticky;
   top:0;
   z-index:1;
   box-shadow:0px 0px 7px 1px #205058;
    }
   
    li {
     float: left;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover:not(.active) {
     background-color: #7098a0;
     transition-duration: 0.5s;
   }
   
   .active {
     background-color: #082828;
   }
   
   .container{
     color:white;
     border-radius:30px;
     border: 3px solid #f1f1f1;
     background-color:rgb(119,136,153,0.7);
     width:350px;
     margin:7%;
   }

   .content{
     margin-left:30%;
   }