h1{
    font-size:55px;
    text-align:center;
    color:#618685;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    h2{
    font-size:40px;
    text-align:center;
    color:#fefbd8;
    text-shadow: 2px 2px 2px #618685;
    }
    
    body {
     background-color: #d5f4e6;
   }
   
   a{
   color:#112d00;
   text-decoration:none;
   font-size:20px;
   }
   
   a:hover:not(.active){
   color:#fefbd8;
   text-shadow: 1px 1px 1px #618685;
   transition-duration:0.3s;
   }
   
    ul{
		width:100%;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #b1cbbb;
     position:sticky;
     top:0;
     text-shadow: 1px 1px 1px #618685;
    }
    
    li {
     float: left;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover:not(.active) {
     background-color: #618685;
     transition-duration: 0.5s;
   }
   
   .active {
     background-color: #112d00;
   }
   
   .flex-container {
     display: flex;
     justify-content: center;
   }
   
   #logindiv{
    position: relative;
    right: 15px;
    text-align:right;
   }
   
   p{
   text-align:center;
   }
   
   
   
   
   
   
   
   
   .flex-container {
     display: flex;
     justify-content: center;
   }
   
   div{
   color:white;
   text-align:center;
   padding:40px;
   }
  
   
   
   
   
   
   img{
   height:250px;
   width:350px;
   border-radius:10px;
   }
   
   



.container2 {
  position: relative;
  width: 100%;
  height:auto;
}


.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}


h1{
    font-size:55px;
    font-size:60px;
    text-align:center;
    color:#618685;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
@@ -101,7 +101,6 @@ h1{
   img{
   height:250px;
   width:350px;
   border-radius:10px;
   }


@@ -143,4 +142,13 @@ h1{
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.div{
transition:1s;
}

.div:hover{
box-shadow:2px 2px 10px 10px rgb(227, 248, 238);
transform:scale(1.2);
.imagekvo
{
	width:100%;
	height:auto;
}